[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = https://github.com/slime/slime.git
[submodule "vendor/o-blog"]
	path = vendor/o-blog
	url = https://github.com/renard/o-blog
